[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Go bindings for SPDK library
[access "refs/*"]
	owner = group user/Tom Nabarro (tanabarr)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tom Nabarro (tanabarr)
	label-Verified = -1..+1 group user/Tom Nabarro (tanabarr)
	push = group user/Tom Nabarro (tanabarr)
	read = group user/Tom Nabarro (tanabarr)
	rebase = group user/Tom Nabarro (tanabarr)
	removeReviewer = group user/Tom Nabarro (tanabarr)
	submit = group user/Tom Nabarro (tanabarr)
[access "refs/heads/*"]
	create = group user/Tom Nabarro (tanabarr)
	push = +force group user/Tom Nabarro (tanabarr)
	pushMerge = group user/Tom Nabarro (tanabarr)
	read = group user/Tom Nabarro (tanabarr)
[access "refs/tags/*"]
	push = group user/Tom Nabarro (tanabarr)
	push = +force group user/Tom Nabarro (tanabarr)
